# Avoid notifying everyone every PR
*

# PvE Combos
/WrathCombo/Combos/PvE/AST/                           @Taurenkey
/WrathCombo/Combos/PvE/BLM/                           @Kagekazu
/WrathCombo/Combos/PvE/BLU/                           @zbee
# BRD not owned by a team member
/WrathCombo/Combos/PvE/DNC/                           @zbee
/WrathCombo/Combos/PvE/DRG/                           @Kagekazu
/WrathCombo/Combos/PvE/DRK/                           @zbee
/WrathCombo/Combos/PvE/GNB/                           @Akechi-kun
/WrathCombo/Combos/PvE/MCH/                           @Kagekazu
/WrathCombo/Combos/PvE/MNK/                           @Kagekazu
/WrathCombo/Combos/PvE/NIN/                           @Taurenkey
/WrathCombo/Combos/PvE/PCT/                           @Nik-Potokar @Taurenkey
/WrathCombo/Combos/PvE/PLD/                           @Kaeris-Tempest
/WrathCombo/Combos/PvE/RDM/                           @Tartarga
/WrathCombo/Combos/PvE/RPR/                           @Kagekazu
/WrathCombo/Combos/PvE/SAM/                           @Akechi-kun @Kagekazu
/WrathCombo/Combos/PvE/SCH/                           @Tartarga
/WrathCombo/Combos/PvE/SGE/                           @Tartarga
/WrathCombo/Combos/PvE/SMN/                           @Genesis-Nova
/WrathCombo/Combos/PvE/VPR/                           @Akechi-kun @Kagekazu
/WrathCombo/Combos/PvE/WAR/                           @Akechi-kun
/WrathCombo/Combos/PvE/WHM/                           @Taurenkey @zbee

# PvP Combos
/WrathCombo/Combos/PvP/                               @Kaeris-Tempest @Nik-Potokar
/WrathCombo/Combos/PvP/BLMPVP.cs                      @Kaeris-Tempest
/WrathCombo/Combos/PvP/RDMPVP.cs                      @Kaeris-Tempest
/WrathCombo/Combos/PvP/SAMPVP.cs                      @Kaeris-Tempest
/WrathCombo/Combos/PvP/VPRPVP.cs                      @Kaeris-Tempest

# Other Owners
/res/motd.txt                                         @Taurenkey
/WrathCombo/Data/ActionWatching.cs                    @Taurenkey
/WrathCombo/AutoRotation/                             @Taurenkey
/WrathCombo/CustomCombo/Functions/                    @Taurenkey
/WrathCombo/Core/                                     @Taurenkey
/docs/                                                @zbee
/CONTRIBUTING.md                                      @zbee
/WrathCombo/Services/IPC/                             @zbee
/res/ipc_status.txt                                   @zbee
/WrathCombo/Combos/PvE/Content/Bozja.cs               @Akechi-kun @zbee

# Protect the owners file
/docs/CODEOWNERS                                      @Taurenkey @zbee
